APP_NAME='Ecommerce'
APP_ENV=local
APP_DEBUG=1
APP_URL=https://ecommerce.moi
APP_TIMEZONE='Asia/Dhaka'

DB_SERVER='db'
DB_USERNAME='root'
DB_PASSWORD='root'
DB_DATABASE='ecommerce'

# রেসপন্সে EL#line_file ডিবাগ কি গুলো যাবে কি না
RESPONSE_DEBUG=1

# টোকেন কত সেকেন্ড বাঁচবে (৩০ দিন)
API_TOKEN_TTL=2592000

PAGE_TITLE_PREFIX=''
